<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>View book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .book, .book td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
</head>
<body>

<table class="book">
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${book.id}">1</td>
        <td th:text="${book.title}">Title</td>
        <td th:text="${book.author.name}">Author</td>
        <td th:text="${book.genre.name}">Genre</td>
    </tr>
    </tbody>
</table>
<br>
<div class="comment">
    <div th:unless="${book.comments.empty}">
        <b><label>Comments</label></b>
    </div>
    <div th:each="comment  :${book.comments}">
        <p th:text="${comment.content}"></p>
    </div>
</div>

</body>
</html>
